/* CSS Document */

.search_box {
	text-align: center;
}

.search_kk {
	width: 365px;
	font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	height: 20px;
	border: 1px solid #D0D0D0;
	padding: 7px 5px 7px 5px;
	color: #ABA9A9;
	font-size:14px;
}

.search_button {
	font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	color: #FFF;
	text-align: center;
	background-color: #e62d46;
	border-radius: 5px;
	height: 36px;
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
	display: inline;
	width: 100px;
	border: medium none;
	font-size:14px;
}
.search_button:hover{
	background-color: #feb059;
}
.tab_order {
	padding: 20px 30px;
}

.tab_box {
	width: 100%;
	font-size: 14px;
	text-align: center;
	border: 1px solid #D9D8D8;
	margin-bottom: 30px;
	background-color: #FFF;
	border-collapse: collapse;
}

.tab_box tr td.td_title {
	background: #8793b2 repeat scroll 0 0;
	height: 44px;
	line-height: 44px;
	color: #fff;
	border: #dbdcdc 1px solid;
}

.tab_box tr td.td_content1 {
	background-color: #fff;
	height: 43px;
	line-height: 43px;
	color: #3d3d3d;
	border: #dbdcdc 1px solid;
}

.tab_box tr td.td_content2 {
	background-color: #f3f8fb;
	height: 43px;
	line-height: 43px;
	color: #3d3d3d;
	border: #dbdcdc 1px solid;
}

.tab_box tr td a,.tab_box tr td a:hover {
	color: #1f5fd5;
	text-decoration: underline;
}

.tab_box .btn_zp {
	font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	color: #FFF;
	text-align: center;
	background-color: #2fc0ef;
	border-radius: 5px;
	height: 30px;
	font-weight: bold;
	cursor: pointer;
	width: 90px;
	border: medium none;
}
.tck_content ul{ margin-top:100px;}
.tck_content ul li{ margin-bottom:20px;}